div.exhibit-collectionView-group {
    clear: both;
}

ol.exhibit-thumbnailView-body {
	list-style: none;
}

li.exhibit-thumbnailView-itemContainer {
    float:      left;
    display:    inline;
}





